.vedette{
    background-color: #f6f4f2;
}
.vedette-one{
    background-image: url("../../images/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 83vh;
}
.vedette-two{
    background-image: url("../../images/9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 76vh;
    text-align: center;
}
.paraa{
    font-family: "Noto Serif",serif;
    font-size: 19px;
    line-height: 56px;
    font-weight: 400;
}
.searchh{
    padding-top: 13px;
    margin-left: -2rem;
}
.input-search{
    width: 70% !important;
}
.title-coll{
    font-weight: 600;
}
.fa-s{
    color: black;
    font-weight: 600;
}
.retour{
    background: black !important;
    color: white !important;
}